.HomeAtomButton {
  background-color: var(--accent);
  width: 5.8rem;
  height: 2.3rem;
  border-radius: 0.37rem;
  border: none;
  color: var(--primaryColor);
  font-family: var(--font-family);
  font-size: 0.87rem;
  margin-top: 0.7rem;
  transition: ease-in-out 0.25s;

  @media screen and (min-width: 30rem) {
    margin-top: 1.2rem;
  }
  @media screen and (min-width: 48rem) {
    margin-top: 1.46rem;
  }
}

.HomeAtomButton:hover {
  background-color: var(--secondaryColor);
  cursor: pointer;
}
