.HomeAtomButton {
  font-family: var(--font-family);
  font-size: 0.87rem;
  color: var(--primaryColor);
  width: 5.8rem;
  height: 2.3rem;
  background-color: var(--accent);
  border-radius: 0.37rem;
  border: none;
  margin-top: 0.7rem;
  transition: ease-in-out 0.25s;
  @media screen and (min-width: 30rem) {
    margin-top: 1.2rem;
  }
  @media screen and (min-width: 48rem) {
    margin-top: 1.46rem;
  }
  &:hover {
    background-color: var(--secondaryColor);
    cursor: pointer;
  }
}
