.searchTypeSelector {
    display: flex;
    flex-direction: row;
  }
  
  .searchText {
    font-weight: 500;
    font-size: 12px;
    margin-right: 10px;
  }
  
  .customSelect {
    position: relative;
    width: 146px;
    height: 34px;
    background-color:var(--activeBtnText);
    border: none;
    color:var(--secondary-color);
    border-radius: 4px;
  }
  
  .customSelect.darkTheme {
    background-color: transparent;
    color:var(--activeBtn);
    border: 1px solid #fafafa33;
  }
  
  .searchText.darkTheme {
    color:var(--activeBtnText);
  }
  option.darkTheme {
    background-color: var(--activeBtn);
    color: var(--activeBtnText);
  }
  