.container {
  display: flex;
  justify-content: center;
  padding-top: 18px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 343px;
}

.logo {
  width: 40px;
  height: 40px;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  gap: 24px;
}

.burgerMenu {
  display: flex;
  width: 28px;
  height: 28px;
}

.switch {
  display: none;
}

@media screen and (min-width: 768px) {
  .box {
    width: 704px;
  }

  .logo {
    width: 44px;
    height: 44px;
  }

  .rightContainer {
    height: 44px;
    gap: 50px;
  }

  .burgerMenu {
    width: 32px;
    height: 32px;
  }
}
