.StartPageTitle {
  font-size: 1.5rem;
  font-weight: var(--font-mediumBold);
  color: var(--primaryColor);

  margin: 0;

  cursor: default;
}

@media screen and (min-width: 768px) {
  .StartPageTitle {
    font-size: 1.75rem;
  }
}
