.CategoryOrganism {
  padding-inline-start: 0;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  list-style: none;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
