.CategoryOrganism {
  padding-inline-start: 0;
  width: 31.2em;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  list-style: none;
  overflow-x: auto;
  white-space: nowrap;
}
