.footerLink {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--footerText);

  text-decoration: none;
  list-style: none;
  margin: 0;
  transition: ease-in-out 0.25s;
}

.footerLink:hover,
.footerLink:active,
.footerLink:focus {
  color: var(--accent);
}
