.RecipeTitleAtom {
  font-size: 1rem;
  background-color: var(--primaryColor);
  letter-spacing: -0.01rem;

  padding: 1rem;
  position: absolute;
  bottom: 1.6rem;
  height: 3.2rem;
  border-radius: 0.5rem;
  width: 83%;
  font-weight: var(--font-medium);
  display: flex;
  align-items: center;
  @media screen and (min-width: 48em) {
    bottom: 1.5rem;
  }
  @media screen and (min-width: 30em) {
    height: 3.75rem;
  }
}
