.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: var(--elementBg);
  background-image: url('../../../images/pages/navigationMenu/nav-menu-background-mobile.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100vw;
  padding-top: 18px;
  padding-bottom: 18px;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 343px;
}

.logo {
  width: 40px;
  height: 40px;
}

.closeButton {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
}

.switchBox {
  display: flex;
  justify-content: flex-start;
  width: 343px;
}

.switchButton {
  width: 61px;
  height: 27px;
}

@media screen and (min-width: 768px) {
  .container {
    background-image: url('../../../images/pages/navigationMenu/nav-menu-background-tablet.png');
    padding-bottom: 32px;
  }

  .icons {
    width: 704px;
  }

  .logo {
    width: 44px;
    height: 44px;
  }

  .switchBox {
    width: 704px;
  }
}
