.CategoriesText {
  text-decoration: none;
  font-family: var(--font-family);
  font-size: 1.75rem;
  margin: 0;
  padding-bottom: 2rem;
  @media screen and (min-width: 30em) {
    font-size: 2rem;
    padding-bottom: 3.1rem;
  }
  @media screen and (min-width: 48em) {
    padding-bottom: 6.25rem;
    font-size: 2.75rem;
  }
}
