.layout {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.titleBackground {
  width: 343px;
}

.title {
  width: 343px;
  margin-top: 114px;
  margin-bottom: 72px;
  font-weight: var(--font-mediumBold);
  font-size: 28px;
  line-height: 1;
  color: var(--categorieTitle);
}

@media screen and (min-width: 768px) {
  .titleBackground {
    width: 704px;
  }

  .title {
    width: 704px;
    margin-top: 136px;
    margin-bottom: 100px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1240px) {
  .titleBackground {
    width: 1240px;
  }

  .title {
    width: 1240px;
    margin-top: 164px;
    font-size: 44px;
  }
}
