@import-normalize; /* bring in normalize.css styles */
@import './styles/_vars.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  height: 0.37rem;
  width: 0.37rem;
  background-color: var(--accent);
}

::-webkit-scrollbar-thumb {
  background-color: var(--placeholderText);
  border-radius: 6px;
}
