.FormInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;

  background-color: none;

  border-style: solid;
  border-radius: 5px;
  border-width: 1px;

  max-width: 100%;
  max-height: 100%;

  padding: 13px;

  cursor: text;
}

.FormInput div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 1;
}

.FormInputText {
  font-size: 0.875rem;
  font-weight: 400;
  opacity: 1;

  background: none;
  border: 0;
  outline: 0;


  min-width: 200px;
  flex: 1 0 1;
}

.FormInputText::placeholder {
  opacity: 1;
}

.FormIcon {
  width: 18px;
  height: 18px;
}

.dark *,
.FormInput:has(.dark) {
  border-color: var(--popularDescriptionText);
  color: var(--popularDescriptionText);
  stroke: var(--popularDescriptionText);
  transition: ease-in-out 0.25s;
}

.dark:hover *,
.FormInput:has(.dark):hover {
  border-color: var(--primaryColor);
  color: var(--primaryColor);
  stroke: var(--primaryColor);
  transition: ease-in-out 0.25s;
}

.light *,
.light path {
  border-color: var(--userEditDark);
  color: var(--userEditDark);
  stroke: var(--userEditDark);
  transition: ease-in-out 0.25s;
}

.light:hover *,
.FormInput:has(.light):hover {
    border-color: var(--secondaryColor);
    color: var(--secondaryColor);
    stroke: var(--secondaryColor);
    transition: ease-in-out 0.25s;
}

@media screen and (min-width: 768px) {
    .FormInput {
        padding: 16px 18px;
    }
    
    .FormInputText {
        font-size: 1.125rem;
        min-width: 300px;
    }
}


/* Newsletter styles */

.FormInput:has(.newsletter) {
  justify-content: start;
  padding: 10px 14px;
}

.newsletter {
  font-size: 0.625rem;
}

@media screen and (min-width: 768px) {
  .FormInput:has(.newsletter) {
    padding: 15px;
  }

  .newsletter {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 1024px) {
  .FormInput:has(.newsletter) {
    padding: 16px 20px;
  }

  .newsletter {
    font-size: 1.125rem;
  }
}